.container {
    width: 880px;
    margin: auto;
}

/* Header Styles */

header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 40px;
    width: 610px;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header .logo {
    align-self: flex-end;
    margin: 28px 0 0 91px;
}

/* Call To Action (CTA) Styles */

.cta {
    display: flex;
	justify-content: center;
	margin-top: 25px;
}

.cta .cta-text {
	margin-right: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.cta .cta-text button {
    border: 1px double black;
    font-size: 16px;
    background: white;
    width: 170px;
    height: 32px;
    margin-top: 10px;
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

/* Main Content Styles */

.main-content {
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 16px;
   line-height: 18px;
}

.main-content .top-content {
    display: flex;
    justify-content: space-around;
}

.main-content .middle-img {
    display: block;
    margin: 30px auto;
}

.main-content .bottom-content {
    display: flex;
    justify-content: space-around;
}

.main-content .bottom-content p {
    padding-right: 20px;
}

/* Contact Styles */

.contact p {
    margin: 15px 0;
}

/* Footer Styles */

footer {
    text-align: center;
    margin: 40px 0 20px;
}

@media(max-width: 768px){

    .container{
        width: 100%;
    }

    header{
        flex-flow: column wrap;
    }

    header .logo {
            order: -1;
            align-self: center;
            margin: 28px 0 0 91px;
    }

    header a {
        margin: 25px;
        height: 25px;
        display: flex;
        align-items: space-between;

    }

    section img {
        visibility: hidden;
    }


    .cta {

        display: flex;
        justify-content: center;
    }

    .cta .cta-text {
  
    }

    .middle-img{
        visibility: visible;
        width: 80%;
    }

    @media(max-width: 400px){
        .container{
            width: 100%;
        }

        header{
            flex-flow: column wrap;
            /*border: 1px solid orange;*/
        }

        header nav {
            width: 400px;
            flex-direction: column;

        }

         header .logo {
            order: -1;
            align-self: center;
            visibility: visible;
        }

        header a{
            font-size: 18pt;
            margin: 10px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid grey;
        }

        .cta {
            display: flex;
            justify-content: center;
        }

        .text-content {
        }

        .top-content{
            flex-flow: column wrap;
            margin: 25px;
            padding: 5px;
        }

        .bottom-content{
            flex-flow: column wrap;
            margin: 25px;
            padding: 5px;
        }

        .contact{
            margin: 25px;
            padding: 5px;
        }

        footer{
            justify-content: center;
        }

    }
}